{% load i18n %}
<div class="freetextresponse xmodule_display xmodule_CapaModule problem">
{#    <h2 class="problem-header">{{ display_name }}</h2>#}
{#    <div class="problem-progress">{{ problem_progress }}</div>#}
{#    <p>{{ prompt|safe }}</p>#}
{#    <div class="word-count-message">{{ word_count_message }}</div>#}
    <div class="capa_inputtype textline">
        <div class="user_input {{ indicator_class }}">
            <textarea class="student_answer" rows="20">{{ student_answer }}</textarea>
            <span class="status {{ visibility_class }}" aria-describedby="student_answer"></span>
        </div>
    </div>

{#    {% if display_other_responses %}#}
{#        <input class="messageCheckbox" type="checkbox" checked>#}
{#            <span>{% trans "Allow my response to possibly be visible by other learners after submitting their response" %}</span>#}
{#        <br>#}
{#    {% endif %}#}
    <div class="capa_alert submission-received">{{ submitted_message }}</div>
    <div class="action">
        {% if not is_past_due %}
            <button class="check Submit {{ nodisplay_class }}" data-checking="Отправка ..." data-value={% trans "Submit" %}>
                {% trans "Submit" %}
            </button>
{#            <button class="save {{ nodisplay_class }}" data-checking="{% trans "Checking..." %}" data-value={% trans "Save" %}>#}
{#                {% trans "Save" %}#}
{#            </button>#}
        {% endif %}
        <div class="used-attempts-feedback" aria-live="polite">{{ used_attempts_feedback }}</div>
    </div>
    <div class="capa_alert user_alert">{{ user_alert }}</div>
    {% if user_is_admin %}
        <div class="responses-box">
            <button class="hide-button">
                <span class="hide">{% trans "Hide" %}</span>
                <span class="show">{% trans "Show" %}</span>
                <span class="sr">{% trans "peer responses" %}</span>
            </button>
            <p class="responses-title">Ответы пользователей</p>

            <table class="response-list">
                <tr><td colspan="2" data-noresponse="Пока нет ответов пользователей"></td></tr>
                {% for response in other_responses %}
                    <tr>
                        <td>{{ forloop.counter1 }}</td>
                        <td>
                            {{ response.student_email }}
                        </td>
                        <td>
                            {{ response.answer }}
                        </td>
                    </tr>
                {% empty %}
                    <td colspan="2" class="no-response">Пока нет ответов пользователей</td>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>
