<div class="freetextresponse xmodule_display xmodule_CapaModule problem">
    <div class="capa_inputtype textline">
        <div class="user_input {{ indicator_class }}">
            <textarea class="student_answer" rows="20">{{ student_answer }}</textarea>
            <span class="status {{ visibility_class }}" aria-describedby="student_answer"></span>
        </div>
    </div>
    <div class="action">
        {% if not is_past_due %}
            <button class="check Submit {{ nodisplay_class }}" data-checking="Отправка ..." data-value="Submit">
                Отправить
            </button>
        {% endif %}
        <div class="used-attempts-feedback" aria-live="polite">{{ used_attempts_feedback }}</div>
    </div>

    <div class="lol">
        <p>{{course_id}}</p>
        <p>is_admin_test: {{is_admin_test}}</p>
        <p>user_is_admin: {{ user_is_admin }}</p>
    </div>
    <div class="capa_alert user_alert">{{ user_alert }}</div>
    {% if user_is_admin %}
        <div class="responses-box">
            <button class="hide-button">
                <span class="hide">Скрыть</span>
                <span class="show">Показать</span>
            </button>
            <p class="responses-title">Ответы пользователей <button id="download_responses_link">Скачать csv</button></p>

            <table class="response-list" id="download_responses_table" style="display: none;">
{#                <tr><td colspan="2" data-noresponse="Пока нет ответов пользователей"></td></tr>#}
                {% for response in other_responses %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {{ response.student_email }}
                        </td>
                        <td>
                            {{ response.answer }}
                        </td>
                    </tr>
                {% empty %}
                    <td colspan="3" class="no-response">Пока нет ответов пользователей</td>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>
